<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Todo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let todo of todos" (click)="itemTapped($event, todo)">
      <ion-icon [name]="todo.Icon" item-start></ion-icon>
      {{todo.Title}}
      <div class="todo-description" item-end>
        {{todo.Description}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedTodo" padding>
    You navigated here from <b>{{selectedTodo.Title}}</b>
  </div>
  <button ion-button (click)="navigateToInsertTodo($event)">+</button>
</ion-content>
